<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Aggregator</title>
    <style>

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #000;
            text-decoration: none;
        }

      
    </style>
</head>

<body>
    <h1>Latest Wired Articles</h1>
    <ul>
        {% for article in articles %}
        <li><a href="{{ article.link }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>